.header_div
{
    background: gray;
    color: white;
}
.copy_right_footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: darkgray;
    color: white;
    line-height: 3;
    font-size: 20px;
}
body
{
    text-align: center;
}